/* Fade Up */
.fade-up {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 1s ease-out forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fade Down */
.fade-down {
  opacity: 0;
  transform: translateY(-40px);
  animation: fadeDown 1s ease-out forwards;
}

@keyframes fadeDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fade Left */
.fade-left {
  opacity: 0;
  transform: translateX(-40px);
  animation: fadeLeft 1s ease-out forwards;
}

@keyframes fadeLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Fade Right */
.fade-right {
  opacity: 0;
  transform: translateX(40px);
  animation: fadeRight 1s ease-out forwards;
}

@keyframes fadeRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
