<!-- Welcome Section -->
<div
  class="p-6 bg-gray-100 rounded-lg shadow-md text-gray-800 leading-7 max-w-2xl mx-auto text-center fade-down"
>
  <h2 class="text-2xl font-bold text-blue-600 mb-4">Welcome to My Mart!</h2>
  <p class="fade-up">
    We are delighted to have you here. At My Mart, our goal is to bring you quality products at the
    best prices, all in one convenient place. Whether you’re shopping for daily essentials, fresh
    items, or special deals, we’ve got something for everyone. We believe shopping should be easy,
    enjoyable, and affordable, and that’s exactly what you’ll find at My Mart. Thank you for
    choosing us – your satisfaction is our priority.
  </p>
</div>

<!-- Products Section -->
<div class="px-4 max-w-screen-xl mx-auto py-8 fade-up">
  <h2 class="text-3xl font-bold text-center mb-10 fade-down">Let see more Product!</h2>

  <div
    class="sm:grid sm:grid-cols-2 md:grid-cols-4 gap-8 flex overflow-x-auto space-x-4 sm:space-x-0 sm:overflow-x-visible px-2"
  >
    <div
      *ngFor="let product of products; let i = index"
      class="bg-white shadow-md min-w-[230px] sm:min-w-0 sm:w-full text-center rounded overflow-hidden"
      [ngClass]="{ 'fade-left': i % 2 === 0, 'fade-right': i % 2 !== 0 }"
    >
      <img
        src="https://www.iprcenter.gov/image-repository/blank-profile-picture.png/@@images/image.png"
        alt="{{ product.name }}"
        class="w-full h-40 object-cover bg-gray-200"
      />
      <a [routerLink]="'/' + product.path">
        <div class="py-3 text-blue-500 font-bold text-xl fade-up">
          {{ product.name }}
        </div>
      </a>
    </div>
  </div>
</div>
